		/* màu nền của trang */
		body{
			background-color: #f0ffff;
		}

		/* chỉnh sữa bảng */
		table{
			border: 0px solid gray;
			width: 600px;
			height: 200px;
			border-collapse: collapse;
			margin-top: 30px;
			margin-top: 50px;
		}
		th{
			background-color: #73ad21;
			color: white;
			font-size: 35px;
			height: 80px;
		}
		td{
			padding: 20px 15px;
			font-weight: bold;
			font-size: 18px;
		}
		tr{
			background-color: #f0f0f0;
		}

		/* thiết lập thông số cho Form */
		form{
			border: 1px solid gray;
			width: 600px;
			height: 470px;
			margin-left: 370px;
			border-radius: 0px 0px 15px 0px gray;
			border: none;
			box-shadow: 0px 0px 15px 0px gray;
		}

		/* điều chỉnh input */
		input{
			outline-style: none;
			padding-left: 5px;
			border: 1px solid #00bcd4;
			border-left: none;
			border-right: none;
			border-top: none;
			background-color: #f0f0f0;
			font-size: 15px;
			width: 105%;
			margin-left: -80px;
		}

		/* điều chỉnh cho riêng kiểu type: text-submit */
		input[type='submit']{
			width: 10%;
			margin-left: 250px;
		}

		input::placeholder{
			font-style: italic;
			color: #696969;
		}

		/* tương đương onmouseenter */
		input:hover{
			background-color: white;
		}