table{
	border: 0px solid gray;
	width: 600px;
	height: 200px;
	border-collapse: collapse;
	margin-top: 80px;
}
th{
	background-color: #73ad21;
	color: white;
	font-size: 35px;
	height: 80px;
}
td{
	padding: 20px 15px;
	font-weight: bold;
	font-size: 18px;
}
tr{
	background-color: #f0f0f0;
}
form{
	border: 1px solid gray;
	width: 600px;
	height: 460px;
	margin-left: 350px;
	border-radius: 0px 0px 15px 0px gray;
	border: none;
	box-shadow: 0px 0px 15px 0px gray;
}
input{
	padding: 3px 3px 3px 5px;
	border: 1px solid #00bcd4;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #f0f0f0;
	font-size: 14px;
	width: 100%;
	margin-left: -60px;
	outline-style: none;
}
input:hover{
	background-color: white;
}
.rule{
	width: 55%;
}
input[type='submit']{
	width: 54px;
	margin-left: -20px;
}
::placeholder{
	font-style: italic;
}
